
* {
    box-sizing: border-box;
}

.App {
    max-width: 1280px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.title {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    margin-bottom: 52px;
}

.logo {
    display: block;
    margin: auto;
    margin-bottom: 36px;
    position: absolute;
    top: 0;
    left: 0;
}

.status-main {
    font-size: 20px;
    margin-bottom: 16px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 52px;
}

.tab {
    cursor: pointer;
    display: inline-block;
    margin-left: 16px;
    
}

.tab--selected {
    font-weight: bold;
    border-bottom: 1px solid;
}